

<h3>MJU_menu는 어떤 서비스인가?</h3>

<p>MJU_menu 는 명지대학교 학생만을 위한 서비스입니다.</p>

<div class="w3-container w3-sand w3-leftbar">
 <p><br><i>명지대학교 학생만을 위한 홈페이지를 제작하고싶었습니다.</p>
 <p><i>밥대생 플러스친구에는 자연캠퍼스 명진당 학식메뉴가 구현되어있지않아 만들게되었습니다.</p>
 <p><i>추후에 카카오톡 플러스 친구도 구현하겠습니다.</p>
</div>

<hr>
<h3>MJU_menu is Free</h3>
<p>명지대학교 학생만을 위한 서비스이므로 명지대학교 학생이면 언제나 열람가능합니다.</p>

<hr>
