.header {
	float: right;
	width: 70%;
	border: 5px solid slategray;
	height: 70px;
	margin-bottom: 20px;
}
.header > h1 {
	text-align: center;
}

.side_bar{
	float: left;
	width: 25%;
	height: 831px;
	border: 5px solid slategray;
	list-style-type: none;
}

.button {
    background-color: #000; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container{
	width: 70%;
	height: 500px auto;
	float: right;
	border: 5px solid slategray;
}

.content_box {
	box-sizing: content-box;
	position: absolute;

	text-align: center;
	float: left;
	width: 100px;
	height: 50px auto;
	margin: 1em;
	border: 2px solid slategray;
}

