<h1>COMMENT EDIT!!</h1>
<p>edit post : <%=@comment.id%></p>
<form action="/blog/comment_update" >
  <input type="hidden" name="id" value="<%=@comment.id%>">
  <textarea name="msg"><%=@comment.msg%></textarea><br>
  <input type="submit" onclick="alert('<%= @comment.id %>번째 글의 수정이 완료되었습니다!');">
</form>
