<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-light-grey w3-left-align">
코트</button>
<div id="Demo1" class="w3-hide">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FOnlyUmuzik%2Fvideos%2F348596422278882%2F&show_text=0&width=560" width="1120" height="630" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>

<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-light-grey w3-left-align">
박원 - 노</button>
<div id="Demo1" class="w3-hide">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FOnlyUmuzik%2Fvideos%2F348596422278882%2F&show_text=0&width=560" width="1120" height="630" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
