
<div class="container">
  <h1>게시글을 작성해주세요 ㅎㅎ</h1>
  <%= form_tag '/write', method: 'post' do %>
      <textarea name="naeyong" width="1px" class="form-control"></textarea><br>
      <button type="submit" class="btn">등록</button>
      
  <% end %>

</div>
